body
{
font-family:calibri;
margin:0;
}
div.menu1
{
background-color:black;
text-align:center;
postion:fixed;
display:inline-block;
top:0px;
margin:0px;
padding:0px;
width:100%;
}
ul
{
list-style:none;
text-align:center;
padding-right:15px;
}
li
{
display:inline;
font-size:15px;
padding-right:80px;
}
a.one
{
color:silver;
padding: 3px 2px;
text-decoration:none;
font-weight:100;
}

a.one:hover
{
color:white;
font-size:18px;
}
img.logo1
{
height:21px;
width:21px;
}
div.title2{
background-color:white;
padding-left:250px;
padding-bottom:10px;
padding-top:10px;
opacity:0.9;
}
span.title3{
font-size: 50px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

span.title3{
font-size: 30px;
font-weight:bold;
}
hr{
color:grey;
width:1000px;
}
div.hardwork4{
display:inline-block;
margin-left:100px;
}
div.ipad1{
display:inline-block;
margin-left:100px;
}
img.ipad3{
padding-left:150px;
width:400px;
height:400px;
padding-top:30px;
}
span.ipad2{
font-size:150px;
float:right;
font-family:forte;
padding-top:140px;
}
div.delight{
padding-left:200px;
font-size:30px;
}
span.delight1{
font-weight:bold;
font-size:60px;
}
div.kick{
display:inline-block;
margin-left:100px;
}
span.kick1{
padding-left:20px;
font-style:oblique;
font-size:80px;
font-family:forte;
float:left;
}
div.kick2{
font-size:30px;
float:right;
padding-top:80px;
padding-left:120px;
}
img.kick3{
width:100%;
}
img.jot{
padding-left:100px;
}
div.jot1{
padding-left:500px;
font-size:30px;
}
div.fun2{
display:inline-block;
}
div.fun{
padding-left:100px;
font-style:oblique;
font-size:80px;
font-family:forte;
float:left;
}
img.fun1{
float:right;
padding-left:100px;
width:700px;
margin-top:20px;
}
div.fun3{
font-size:30px;
text-align:center;
}
div.live{
text-align:center;
font-size:100px;
font-family:forte;
}
img.live1{
padding-left:300px;
width:700px;
height:600px;
}

div.draw{
text-align:center;
font-style:oblique;
font-size:100px;
font-family:forte;
}
img.draw1{
width:700px;
height:600px;
}
div.draw2{
text-align:center;
font-size:30px;
}
div.shoot{
display:inline-block;
}
div.shoot1{
padding-left:170px;
font-style:oblique;
font-size:80px;
font-family:forte;
float:left;
}
img.shoot2{
float:right;
padding-left:100px;
width:500px;
height:420px;
margin-top:10px;
}
div.shoot3{
text-align:center;
font-size:30px;
}
div.theater{
text-align:center;
font-style:oblique;
font-size:80px;
font-family:forte;
}
img.theater1{
padding-left:300px;
}
div.theater2{
text-align:center;
font-size:30px;
}
img.ipados3{
padding-left:50px;
height:500px;
width:750px;
}
div.ipados{
display:inline-block;
}
span.ipados1
{
padding-left:100px;
font-style:oblique;
font-size:80px;
font-family:forte;
float:left;
}
span.ipados2{
float:right;
font-size:30px;
padding-left:150px;
margin-top:30px;
}
